{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="{% static 'scripts/base.js' %}"></script>
<script src="{% static 'scripts/csrf.js' %}"></script>
<script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}

{% block main_content %}
<div class="authentication">
    <span>Enter Your ID Number</span>
    <br>
    <div class="input-section">
        <input type="text" placeholder="xxx.xxx.xxx-xx" class="input-text" id="aadhar" autocomplete="off">
        <button type="submit" class="submit" onclick="submit_aadhar()">Authenticate</button>
    </div>
    <div id="avisoNumeroInvalido" class="aviso-oculto">
        <span id="textoAviso"></span>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    setTimeout(function() {
        var urlParams = new URLSearchParams(window.location.search);
        var cpf = urlParams.get('cpf');
        var cpfField = document.getElementById('aadhar');
        if (cpfField) {
            cpfField.value = cpf;
            console.log('CPF inserido no campo após a animação:', cpf);
        } else {
            console.error('Campo de CPF não encontrado.');
        }
    }, 1200); // Espera um pouco mais que a duração da animação mais longa (1s + 0.4s)
});

    </script>
    
{% endblock %}
